<div class="p-3" id="<%= dom_id course %>">
  <div>
    <p>Title: <%= course.title %></p>
    <p>Caption: <%= course.caption %></p>
  </div>

  <%= link_to "Show this course", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to 'Edit this course', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr>
</div>
